<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Wisenet Wisenet instraller</title>
    <style>
            li {margin: 10px;}
            html {
                font-family: Sans-serif;
            }
    </style>
</head>
<body>
<p style="
    font-size: 20px;
    margin-top: 40px;
    margin-bottom:0px;
    text-align: center;
">This page is Wisenet Mobile OTA</p>
<p class="otp" style="
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
">(Over the air)</p>

<div style="width: 50%; float:left;">
  <p class="contentSite" style="text-align: center;">
    <a href="itms-services://?action=download-manifest&url=https://bit.ly/2iC7Ots">
      <img style="width: 150px;" src="https://dl.dropboxusercontent.com/s/nqoz3lqfnzajyfe/icon-512.png"/>
    </a>
  </p>
  <p style="text-align: center;">
    <a href="itms-services://?action=download-manifest&url=https://bit.ly/2iC7Ots">Wisenet Mobile 0.91.161228(iOS)</a>
    </p>
  <br/>
</div>

<div style="width: 50%; float:left;">
  <p class="contentSite" style="text-align: center;">
    <a href="http://bit.ly/2id9lTS">
      <img style="width: 150px;" src="https://dl.dropboxusercontent.com/s/nqoz3lqfnzajyfe/icon-512.png"/>
    </a>
  </p>
  <p style="text-align: center;">
    <a href="http://bit.ly/2id9lTS">Wisenet Mobile 0.91.161228(AOS)</a>
  </p>
  <br/>
</div>

<p style="margin:auto; width:95%; text-align: center;"><img style="width:90%;" src="https://dl.dropbox.com/s/ho4yxwho8b08bnz/Legacy_Guide_en.PNG"></p><br />
<table style="margin:auto; width:95%;">
  <tr><td style="font-weight:bold;">Wisenet Mobile Install Guide.</td></tr>
  <tr><td>1. In iOS device please select from the icon application.</td></tr>
  <tr><td>2. Please select the Install button from the dialog to continue with installation.</td></tr>
  <tr><td>3. On first time launch of Wisenet mobile application,please select the 'Trust' button to run the app.</td></tr>
</table><br/><br/>

<p style="margin:auto; width:95%; text-align: center;"><img style="width:90%;" src="https://dl.dropbox.com/s/mhp638dxw4um4f8/Legacy_Guide_ko.PNG"></p><br />
<table style="margin:auto; width:95%;">
  <tr><td style="font-weight:bold;">Wisenet Mobile 설치가이드</td></tr>
  <tr><td>1. iOS 단말기에서 앱 아이콘을 선택해 주세요.</td></tr>
  <tr><td>2. Wisenet Mobile 설치를 위해 설치메세지 발생시 '설치'버튼을 선택해 주세요.</td></tr>
  <tr><td>3. Wisenet Mobile 처음실행시 간혹  신뢰성을 확인하는 메세지가 보여집니다. '신뢰함'을 선택해 주세요.</td></tr>
</table>

</body>
</html>