<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Wisenet Wisenet instraller</title>
    <style>
            li {margin: 10px;}
            html {
                font-family: Sans-serif;
            }
    </style>
</head>
<body>
<p style="
    font-size: 20px;
    margin-top: 40px;
    margin-bottom:0px;
    text-align: center;
">Mobile OTA</p>
<p class="otp" style="
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
">(Over the air)</p>

<div style="width: 50%; float:left;">
  <p class="contentSite" style="text-align: center;">
    <a href="/wisenet">
      <img style="width: 150px;" src="/images/icon_wisenetmobile.png"/>
    </a>
  </p>
  <p style="text-align: center;">
    <a href="/wisenet">Wisenet Mobile</a>
    </p>
  <br/>
</div>

<div style="width: 50%; float:left;">
  <p class="contentSite" style="text-align: center;">
    <a href="/smartcam">
      <img style="width: 150px;" src="/images/icon_smartcam.png"/>
    </a>
  </p>
  <p style="text-align: center;">
    <a href="/smartcam">SmartCam</a>
    </p>
  <br/>
</div>

<div style="width: 50%; float:left;">
  <p class="contentSite" style="text-align: center;">
    <a href="/installation">
      <img style="width: 150px;" src="/images/icon_installation.png"/>
    </a>
  </p>
  <p style="text-align: center;">
    <a href="/installation">Wisenet Installation</a>
    </p>
  <br/>
</div>

</body>
</html>