<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap_datepicker.css" rel="stylesheet">
  <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/dist/css/sb-admin-2.css" rel="stylesheet">
  <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/morrisjs/morris.css" rel="stylesheet">
  <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/bootstrap-switch.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="/javascripts/moment.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/flot/excanvas.min.js"></script>
  <script src="/javascripts/bootstrap-switch.min.js"></script>
  <script src="/javascripts/util/util.js"></script>

  <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-messaging.js"></script>

  <script src="/javascripts/adhocController.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/pages/adhoc.css">

  <title><%= title %></title>
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top" id="title" role="navigation" style="margin-bottom: 0; z-index: 2;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/adhoc" style="font-weight: bold;">Mobile Part ADHOC Service</a>
    </div>
    <!-- /.navbar-top-links -->
  </nav>
  <ul id="serviceBoard">
  </ul>
<script>
  
</script>

</body>
</html>