<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='stylesheets/style.css' />
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap_datepicker.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://trello.com/1/client.js?key=129a907b7a37f2e3d1e84386fab4549f"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/flot/excanvas.min.js"></script>
    <script src="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/flot/jquery.flot.js"></script>
    <script src="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/flot/jquery.flot.time.js"></script>
    <script src="javascripts/bootstrap-switch.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script>
      var TT = angular.module('MyApp', ['ngMaterial']);
    </script>
    <script src="javascripts/excellentexport.min.js"></script>
    <script src="javascripts/trello/defines.js"></script>
    <script src="javascripts/trello/utils.js"></script>
    <!-- <script src="javascripts/trello/calculator.js"></script> -->
    <script src="javascripts/trello/index.js"></script>
    <script src="javascripts/trello/TrelloConnectService.js"></script>

  </head>
  <body ng-app="MyApp" ng-controller="TrelloController as TC"  data-ng-init="TC.init()">
  <nav class="navbar navbar-default navbar-static-top" id="title" role="navigation" style="margin-bottom: 0; z-index: 2;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-weight: bold;">Mobile Part Scrum Information</a>
    </div>
    <!-- /.navbar-header -->

    <!-- <div class="glyphicon glyphicon-th-list " aria-hidden="true"></div> -->
    <ul class="nav navbar-top-links navbar-right">
      <!-- /.dropdown -->
      <li>
        <a class="glyphicon glyphicon-th-list " ng-click="toggleLeft()" aria-hidden="true"></a>
      </li>
      <li>
          <!-- <i class="glyphicon glyphicon-user"></i>  <i class="fa fa-caret-down"></i> -->
        <md-menu md-offset="0 20">
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="TC.openMenu($mdOpenMenu, $event)">
            <i class="glyphicon glyphicon-user"></i>  <i class="fa fa-caret-down"></i>
            <!-- <md-icon md-menu-origin md-svg-icon="call:ring-volume"></md-icon> -->
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="TC.announceClick({username: 'mobile'})"> 
              <span md-menu-align-target>All</span></md-button>
            </md-menu-item>
            <md-menu-item ng-repeat="member in MEMBERS">
              <md-button ng-click="TC.announceClick(member)"> 
              <span md-menu-align-target>{{member.username}}</span></md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </li>
      <!-- <li class="resourceMenu dropdown" >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul id="projectPreview" class="dropdown-menu dropdown-tasks">
        </ul>
      </li> -->
    </ul>
    <!-- /.navbar-top-links -->        
  </nav>
  <div id="indicator"></div>
  <div id="wrapper"  style="padding-top:50px;">
    <div id="page-wrapper">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Detail Search</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="col-md-3 font_resizing">
                <h4>Iteration Start : </h4>
              </div>
              <div class="col-md-3 font_resizing" style="margin: 10px 0px;" >
                <input class="form-control" placeholder="2016-05-01" id="datetimepicker1"/>
              </div>
              <div class="col-md-3 font_resizing" style="margin: 10px 0px;">
                <h4>Work Day : </h4>
              </div>
              <div class="col-md-3 font_resizing" style="margin: 10px 0px;">
                <input class="form-control" id="datetimepicker2" placeholder="2016-05-02" />
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> S & E Graph</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="flot-chart">
                <div class="flot-chart-content" id="flot-line-chart-multi"></div>
              </div>
            </div>
          </div>
        </div>

      </div> 


      <div class="panel panel-default">
        <div class="panel-heading panel-title">
          MEMBER Resource 
          <span style="float:right;"><md-switch style="margin: 0px;" ng-model="simple" aria-label="Switch 1">Done task </md-switch>
          </span>
        </div>
        <div class="panel-body" id="total_resource">
          <md-radio-group ng-model="selectedMember">
          <table class="table col-md-12">
            <tr>
              <td>Select</td><td>Member</td><td>Estimate</td>
              <td>{{WEEK[0]}}</td><td>{{WEEK[1]}}</td><td>{{WEEK[2]}}</td><td>{{WEEK[3]}}</td>
              <td>{{WEEK[4]}}</td><td>{{WEEK[5]}}</td><td>{{WEEK[6]}}</td><td>Remain</td>
            </tr>
            <tr ng-repeat="member in MEMBERS" ng-class="{selected: member.username === selectedMember}">
              <td><md-radio-button value="{{member.username}}" class="md-primary"></md-radio-button></td>
              <td class="textLabel" ng-Click="TC.selectMember(member.username)" >{{member.fullName}}</td>
              <td class="regularHeight">{{member.estimate.toFixed(1)}}</td>
              <td ng-repeat="day in DAY" ng-class="{selected: TC.isWorkDay(day), holyday : TC.isHolyday(day)}" class="regularHeight">
                  {{member.date_spend[day]}}
              </td>
              <td class="regularHeight">{{member.estimate - member.spend}}</td>
            </tr>
          </table>
          </md-radio-group>
        </div>
      </div>


      <div class="panel panel-default" ng-repeat="board in BOARDS">
        <div class="panel-heading panel-title">
          {{board.name}}
        </div>
        <div class="panel-body">
          <table class="table col-md-12">
            <tr>
              <td>Task</td><td>Member</td><td>Estimate</td>
              <td>{{WEEK[0]}}</td><td>{{WEEK[1]}}</td><td>{{WEEK[2]}}</td><td>{{WEEK[3]}}</td>
              <td>{{WEEK[4]}}</td><td>{{WEEK[5]}}</td><td>{{WEEK[6]}}</td><td>Remain</td>
            </tr>
            <tr ng-repeat="card in board.cards" ng-if="realTask(card)" ng-class="TC.getTaskState(card)">
              <td><a style="margin-left: 5px;" ng-click="TC.openWindow(card)">{{card.name | short}} </a><span ng-click="TC.showDesc($event, card)" ng-show="TC.getDesc(card)" class="glyphicon glyphicon-comment"><span></td>
              <td>
                <div ng-repeat="member in card.members" class="regularHeight" ng-class="{selected: member.username === selectedMember}">
                  <!-- <a ng-click="TC.DEBUG.getMemberResouce($event, member)">{{member.fullName}}</a> -->
                  {{member.fullName}}
                </div>
              </td>
              <td>
                <div ng-repeat="member in card.members" class="regularHeight">
                  {{member.estimate.toFixed(1)}}
                </div>
              </td>
              <td ng-repeat="day in DAY" ng-class="{'holyday' : TC.isHolyday(day)}">
                <div ng-repeat="member in card.members" class="regularHeight" ng-class="{selected: TC.isWorkDay(day)}">
                  {{member.date_spend[day] === undefined ? "&nbsp;" : member.date_spend[day]}}
                </div>
              </td>
              <td>
                <div ng-repeat="member in card.members" class="regularHeight">
                  {{member.estimate - member.spend}}
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

  </div>
  <a href="#" class="back-to-top"><p class="fa fa-arrow-circle-o-up"></p></a>
</div>
</body>
</html>
