<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>People task</title>
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap_datepicker.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/dist/css/timeline.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-sb-admin-2-1.0.8/bower_components/morrisjs/morris.css" rel="stylesheet">
    <style>
      div.boardAddBtn {
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
      }

      div.indicator {
        background-image: url(/images/indicator.gif);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9999;
        background-position: center;
        background-color: rgba(255,255,255,0.7);
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="page-wrapper">
      <div id="singleton"></div>
      <div id="container"></div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://trello.com/1/client.js?key=129a907b7a37f2e3d1e84386fab4549f"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    
    <script type="text/babel" src="javascripts/trello/react/peopleTask.js"></script>
  </body>
</html>
