
<html>
  <head>
    <meta charset="UTF-8">
    <title>mqtt webrtc </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script> -->
    <!--<script type="text/javascript" src="/js/mqttws31.js"></script>-->
    <script>
      var user = '<%= user %>';
    </script>
    <script type="text/javascript" src="/javascripts/util/util.js"></script>
    <script type="text/javascript" src="/javascripts/mqttSDK_viewer.js"></script>
    <!--<script type="text/javascript" src="/js/mqttSDK.js"></script>-->
    <!-- <script type="text/javascript" src="/js/strophe.js"></script> -->
    <style type='text/css'>
     video {width:320;height:240}
    </style>
  </head>
  <body>
    <h1>Remote Viewer</h1>
    <p>Connected Information</p>
    <p>Logined username: <%= user %></p>
    <table border="1">
      <tr>
        <th>hub01_ch01</th>
        <th>hub02_ch01</th>

      </tr>
      <tr>
        <th><video id="hub01_ch01"></video></th>
        <th><video id="hub02_ch01"></video></th>

      </tr>
      <tr>
        <th><button id="hub01_ch01_play"  disabled='true'>play</button>
            <button id="hub01_ch01_sunapi">command</button>
        </th>
        <th><button id="hub02_ch01_play"  disabled='true'>play</button>
            <button id="hub02_ch01_sunapi">command</button>
        </th>

      </tr>
     </table> 



    <script>

    var webrtcSDK;
    $("#hub01_ch01_sunapi").click( function() {  
      var para = {      
          method : 'get',
          command : 'system',
          uri : 'http://112.170.72.123:99/stw-cgi/system.cgi?msubmenu=deviceinfo&action=view',
          header : 'temp',
          body : ""
      }
      commandHandler_1.sendCommand(commandHandler_1.buildTopic('pub','SUNAPI25'), para);
      // commandHandler_1.sendCommand('hummingbird/hubs/hub_01/devices/ch_01/users/command/command/HTWIPC20', para);
      // commandHandler_1.sendCommand('hummingbird/hubs/hub_01/devices/ch_01/status', para);
      
    });

    $("#hub01_ch01_play").click( function() {
      
      signalHandler_1.makeOffer.call(signalHandler_1);
    });
    $("#hub02_ch01_play").click( function() {
      signalHandler_hub02_ch01.makeOffer.call(signalHandler_hub02_ch01);
      
    });

    $("#setting").click( function() {
      // var loadingParams = {
      // // mqttServerIP: "wss://mostest.gaialab.co.kr/mqtt:442",
      // mqttServerIP: "wss://mostest.gaialab.co.kr/mqtt:443",
      // id          : $('#id').val(),
      // password    : $('#password').val(),
      // user_name   : "hjk",
      // localVideo  : $('#localVideo'),
      // remoteVideo : $('#remoteVideos'),
      // mediaConstraints : {'mandatory': {'OfferToReceiveAudio':false, 'OfferToReceiveVideo':true }}
      // };     

      // webrtcSDK = new WebrtcSDK(loadingParams);
      peerHandler_2.makeOffer();
    }) 

    $("#loginButton").click( function()
    {
      // webrtcSDK.login();
      // peerHandler.makeOffer();
     
    })


    $("#join").click( function() {
      // webrtcSDK.join($('#peerid').val());
      //  peerHandler.makeOffer();
    }) 
        
</script>
</body>
</html>
