<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Wisenet Wisenet instraller</title>
    <style>
            li {margin: 10px;}
            html {
                font-family: Sans-serif;
            }
    </style>
</head>
<body>
<p style="
    font-size: 20px;
    margin-top: 40px;
    margin-bottom:0px;
    text-align: center;
">This page is Wisenet Mobile OTA</p>
<p class="otp" style="
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
">(Over the air)</p>

<div style="width: 50%; float:left;">
  <p class="contentSite" style="text-align: center;">
    <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/ctehvs7znm90mmy/manifest.plist">
      <img style="width: 150px;" src="/images/icon_wisenetmobile.png"/>
    </a>
  </p>
  <p style="text-align: center;">
    <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/ctehvs7znm90mmy/manifest.plist">Wisenet Mobile 0.93.170117(iOS)</a
    </p>
  <br/>
</div>

<div style="width: 50%; float:left;">
  <p class="contentSite" style="text-align: center;">
    <a href="https://dl.dropboxusercontent.com/s/7qfmb1kfq7hq1xy/Wisenet_mobile_0.93.170117.apk">
      <img style="width: 150px;" src="/images/icon_wisenetmobile.png"/>
    </a>
  </p>
  <p style="text-align: center;">
    <a href="https://dl.dropboxusercontent.com/s/7qfmb1kfq7hq1xy/Wisenet_mobile_0.93.170117.apk">Wisenet Mobile 0.93.170117(AOS)</a>
  </p>
  <br/>
</div>

<div id="regacy" style="border-top: solid 1px rgba(0,0,0,0.5); border-bottom: solid 1px rgba(0,0,0,0.5); width: calc(100% - 20px); float: left; padding: 10px; margin-bottom: 20px;">
  <div class="regacy-header">Regacy version</div>
  <div class="regacy-link" style="width: 100%;">
    <p class="regacy-label" style="float: left; width: 40%; text-align: center;">Wisenet Mobile 0.91.161228</p>
    <p style="text-align: center; float: left; width: 30%;">
      <a href="itms-services://?action=download-manifest&url=https://bit.ly/2iC7Ots">iOS</a>
    </p>
    <p style="text-align: center; float: left; width: 30%;">
      <a href="http://bit.ly/2id9lTS">Android</a>
    </p>
  </div>

  <div class="regacy-link" style="width: 100%;">
    <p class="regacy-label" style="float: left; width: 40%; text-align: center;">Wisenet Mobile 0.92.170106</p>
    <p style="text-align: center; float: left; width: 30%;">
      <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/152o8kqfa7s91ge/manifest.plist">iOS</a>
    </p>
    <p style="text-align: center; float: left; width: 30%;">
      <a href="https://dl.dropboxusercontent.com/s/y519pv5wo0czc2e/Wisenet_mobile_0.9.2.170106.apk">Android</a>
    </p>
  </div>
</div>

<p style="margin:auto; width:95%; text-align: center;"><img style="width:90%;" src="/images/guide-en.png"></p><br />
<table style="margin:auto; width:95%;">
  <tr><td style="font-weight:bold;">Wisenet mobile Install Guide.</td></tr>
  <tr><td>1. In iOS device please select from the icon application.</td></tr>
  <tr><td>2. iOS8 or higher requires enterprise app reliability verification.</td></tr>
  <tr><td>3. In the Settings - General - Device Management menu, press the 'Trust' button on Samsung Techwin Co., Ltd.'. </td></tr>
</table><br/><br/>

<p style="margin:auto; width:95%; text-align: center;"><img style="width:90%;" src="/images/guide-ko.png"/></p><br />
<table style="margin:auto; width:95%;">
  <tr><td style="font-weight:bold;">Wisenet mobile 설치가이드</td></tr>
  <tr><td>1. iOS 단말기에서 앱 아이콘을 선택해 주세요.</td></tr>
  <tr><td>2. iOS8 이상의 버전에선 기업용 앱 신뢰성 확인이 필요합니다.</td></tr>
  <tr><td>3. 설정 - 일반 - 기기관리 메뉴에서 'Smasung Techwin Co., Ltd.를 신뢰함 버튼을 눌러주세요.' </td></tr>
</table>

</body>
</html>