body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.font_resizing {
	text-align: center;
	font-size: 12px;
}

.rightPont { 
	text-align: right;
}

.tast_cell {
	padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
}

tr.primary {
	background-color: #337ab7;
	border-color: #337ab7;
	color: white;
	text-align: center;
}

td {
	text-align: center;
	font-size: 1em;
}

tr.textLabel {
	text-align: left;
	width: 25%;
}

tr.textLabel:hover {
	background-color: #ddd;
}

tr.taskFinish {
	background-color : #dff0d8;
	color : #3c763d;
}

tr.taskFinish:hover {
	background-color : #c1f9ab;
}

tr.taskDoing {
	background-color : #fcf8e3;
	color : #8a6d3b;
}

tr.taskDoing:hover {
	background-color : #ffef9a;
}

tr.taskDone {
	opacity: 0.5;
	background-color: #D9EDF7;
	color : #31708f;
}

tr.taskDone:hover {
	background-color: #b4e0f7;
}

td.taskFinish {
	background-color : #dff0d8;
	color : #3c763d;
}

td.taskDoing {
	background-color : #fcf8e3;
	color : #8a6d3b;
}

td.taskDone {
	opacity: 0.5;
	background-color: #D9EDF7;
	color : #31708f;
}

tr.taskHide {
	display: none;
}

td.taskHide {
	display: none;
}

#indicator {

    background-image: url(/images/indicator.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-position: center;
    background-color: rgba(255,255,255,0.7);
    display: none;
}

a:hover {
	cursor:help;
}

div.titleHeader {
	height: 60px;
	line-height: 60px;
}

div.searchBtn {
	height: 60px;
	text-align: right;
	line-height: 60px;
}

nav#title {
	width : 100%;
	position: fixed;
}

a.back-to-top {
	display: none;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #5cb85c url("up-arrow.png") no-repeat center 0.1%;
	/* background-position-y: -20px; */
	background-size: cover;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.selected {
	font-size : 18px;
  font-weight : bold;
}

.notSelected {
	margin: 5px;
}

.resourceMenu {
	display: none;
}

.md-open-menu-container{
	z-index: 
}

.holyday {
	background-color: rgba(0,0,0,0.12);
}

.regularHeight {
	height: 25px;
  line-height: 25px;
}