body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.font_resizing {
	text-align: center;
	font-size: 12px;
}

.rightPont { 
	text-align: right;
}

.tast_cell {
	padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
}

tr.primary {
	background-color: #337ab7;
	border-color: #337ab7;
	color: white;
	text-align: center;
}

td {
	text-align: center;
	font-size: 1em;
}

li.textLabel {
	text-align: left;
	width: 25%;
}

li.textLabel:hover {
	background-color: #ddd;
}

li.taskFinish {
	background-color : #dff0d8;
	color : #3c763d;
}

li.taskFinish:hover {
	background-color : #c1f9ab;
}

li.taskDoing {
	background-color : #fcf8e3;
	color : #8a6d3b;
}

li.taskDoing:hover {
	background-color : #ffef9a;
}

li.taskDone {
	opacity: 0.5;
	background-color: #D9EDF7;
	color : #31708f;
}

li.taskDone:hover {
	background-color: #b4e0f7;
}

li.taskFinish {
	background-color : #dff0d8;
	color : #3c763d;
}

li.taskDoing {
	background-color : #fcf8e3;
	color : #8a6d3b;
}

li.taskDone {
	opacity: 0.5;
	background-color: #D9EDF7;
	color : #31708f;
}

li.taskHide {
	display: none;
}

li.taskHide {
	display: none;
}

#indicator {

    background-image: url(/images/indicator.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-position: center;
    background-color: rgba(255,255,255,0.7);
    display: none;
}

a:hover {
	cursor:help;
}

div.titleHeader {
	height: 60px;
	line-height: 60px;
}

div.searchBtn {
	height: 60px;
	text-align: right;
	line-height: 60px;
}

nav#title {
	width : 100%;
	position: fixed;
}

a.back-to-top {
	display: none;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #5cb85c url("up-arrow.png") no-repeat center 0.1%;
	/* background-position-y: -20px; */
	background-size: cover;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.selected {
	font-size : 18px;
  font-weight : bold;
}

.notSelected {
	margin: 5px;
}

.resourceMenu {
	display: none;
}

.md-open-menu-container{
	z-index: 
}

.holyday {
	background-color: rgba(0,0,0,0.12);
}

.regularHeight {
	height: 25px;
  line-height: 25px;
}

ul.timetable {
	list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

ul.timetable li {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

li.subject {
	border-bottom: solid 1px rgba(0,0,0,0.5);
}

span p{
	float:left;
	text-align: center;
	width: 5%;
	margin-bottom: 0px;
}

ul.tasktable span p {
	width: 3%;
}

ul.tasktable span p.task {
	width: 34%;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: black;
	text-align: left;
}

span md-radio-button {
	float:left;
	text-align: center;
	margin-left:15px;
	width: calc(5% - 15px);
	margin-bottom: 0px;
}

p.name {
	width: 15% !important;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}